@model DogGo.Models.ViewModels.WalkFormViewModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Walk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Walks">
            <div>
                @Html.HiddenFor(model => model.DogOptions)
                @Html.HiddenFor(model => model.WalkerId)
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" placeholder="Hours" />
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" placeholder="Minutes" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="WalkerId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedDogs" class="control-label"></label>
                <select asp-for="SelectedDogs" asp-items="@Model.DogOptions" class="form-control">
                    <option value="">Which dogs did you walk?</option>
                </select>
                <span asp-validation-for="SelectedDogs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Walkers" asp-route-id="@Model.WalkerId">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
